.card:hover 
{
    transform:  translateY(0%);
}


.form-control:focus 
{
    box-shadow: none;
}

.card-inner 
{
    display: none;
}

.public-comments .card .btn 
{
    background-color: #921192;
    border-color: #921192;
    color: #fff;
}

.public-comments .card .btn:hover 
{
    background-color: #b915b9;
}

@media (min-width: 992px)
{
    time
    {
        font-size: 13px;
    }
    .fa-play 
    {
        font-display: 20px !important;
    }
}

@media (max-width: 1062px)
{
    #myBtn 
    {
        margin-bottom: 60px !important;
    }
}

@media (max-width: 570px)
{
    .reply-time 
    {
        font-size: 10px !important;
    }
}